html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  /* pt was in template */
  font-size: 17pt;
  font-family: "Source Sans Pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 300px 1fr;
}
.page-header {
  background-color: #222629;
  grid-row-start: 1;
  grid-row-end: 3;
  color: white;
}
.sticky-container {
  position: fixed;
  padding: 1em;
  width: 300px;
}
.personal-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.personal-card__avatar {
  border-radius: 50%;
}
.personal-card__info {
  padding-left: 1em;
  padding-top: 1em;
}
.personal-card__name {
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
}
.personal-card__current-job {
  font-size: 0.6em;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.25em;
}
.nav-container {
  display: flex;
  flex-direction: column;
}
.page-nav {
  margin-bottom: 2em;
}
.page-nav__list {
  list-style: none;
}
.page-nav__list-item {
  margin-top: 2em;
}
.page-nav__list-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  outline: 0;
  border: 0;
  display: flex;
  justify-content: space-between;
}
.page-nav__list-link:hover {
  color: #e27689;
  transition: 300ms;
}
.page-nav__list-item-icon {
  font-size: 0.8em;
}
.page-nav__list-item-name {
  font-size: 0.8em;
}
.social__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}
.social__list-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  outline: 0;
  border: 0;
  display: flex;
  justify-content: space-between;
  transition: 300ms;
}
.social__list-link:hover {
  color: #fff;
}
.social__list-item-name {
  visibility: hidden;
  display: inline-block;
  width: 0;
  height: 0;
}
.page-section {
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(./imgs/overlay.png);
  gap: 1em;
  padding: 4em 0;
  box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 5%), inset 0 0.1em 0.1em 0 rgb(0 0 0 / 3%);
}
.title {
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
  color: #666;
}
.description {
  font-weight: 300;
  line-height: 1.5em;
  text-align: center;
  color: #888;
}
.page-prolog {
  padding: 6em 0em;
  background-image: url(./imgs/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.highlight {
  color: white;
}
.page-prolog__title {
  font-size: 2em;
  margin: 0 auto;
  width: 100%;
  color: rgba(255, 255, 255, 0.75);
}
.page-prolog__description {
  font-size: 17pt;
  margin: 0 auto;
  width: 100%;
  color: rgba(255, 255, 255, 0.75);
}
.button {
  border-radius: 0.35em;
  color: #fff;
  text-decoration: none;
  padding: 0.75em 2.5em;
  background-color: #8ebebc;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: -1px;
}
.page-prolog__button {
  margin: 1em auto 5em auto;
}
.page-projects {
  background-color: #f5fafa;
}
.page-projects__title {
  margin-top: 2em;
  font-size: 2em;
}
.page-projects__description {
  width: 80%;
}
.page-projects__grid {
  display: grid;
}
.page-projects__project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 2em auto;
  box-shadow: 0 0.05em 0.15em 0 rgb(0 0 0 / 5%);
}
.page-projects__project-image {
  width: 100%;
}
.page-projects__project-name {
  background-color: #ecf1f1;
  width: 100%;
  font-size: 1em;
  padding: 1em;
}
.page-projects__project-description {
  padding: 1em;
}
.page-projects__visit-button {
  margin: 1em auto 1em auto;
}
.page-about {
  background-color: #ecf1f1;
}
.page-about__title {
  font-size: 2em;
}
.page-about__description {
  width: 80%;
}
.page-contact {
  background-color: #e8edec;
}
.page-contact__title {
  font-size: 2em;
}
.page-contact__list {
  display: flex;
  list-style-type: none;
  gap: 1em;
}
.page-footer {
  background-color: #dce3e2;
  flex-direction: row;
  padding: 2em 0;
  font-size: 0.8em;
  font-weight: 300;
  color: #666;
}
.page-footer__copyright {
  padding-right: 1em;
  border-right: 1px solid rgba(128, 128, 128, 0.5);
}
.page-footer__design a {
  color: #666;
  text-decoration: none;
  border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
}
